img {
    height: 200px;   
}
.circle-img {
  border-radius: 50%;
}
.header{
    margin: 2px;
    padding: 2px;
    border:10px solid black;
}
.horizontal{
    display: flex;
    justify-content: space-around;
}
.bio {
    margin: 30px;
    padding: 20px;
    border: 10px solid black;
}
.highlight-img {
    width:100px;
    height:100px;
}